*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif ;
    color: #dee2e6;
    margin: 0px;
}
header{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #05110d;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
    color: white;
    padding: 25px;
}
.navegador{
    margin-left: auto;
    margin-right: 140px;
}
.lista-navegador{
    list-style: none;
    display: flex;
    gap: 20px;
    color: white;
}
nav a{
    color: white;
}
#QSE{
    background-color: #1b4332;
    padding: 150px 0px 150px 0px;
}
.titulo{
font-size: 30px;
}
.espaço{
    padding: 70px;
}
.container-introducao{
    display: flex;
}
#Leandro{
    border-radius: 50%;
}
a{
text-decoration: none;
color: #dee2e6;
}
#MT{
    background-color: #2d6a4f;
    padding: 100px 0px 150px 0px;
}
.container-trabalhos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.trabalhos{
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 2px;
}
.trabalhos-imagem{
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
.trabalhos-titulo{
    font-size: 2rem;
    padding: 2rem 0.5rem;
    text-align: center;
}

#Contatos{
    background-color: #40916c;
}

.container-footer{
    display: flex;
    justify-content: center;
    gap: 300px;
}
.content{
    max-width: 1400px;
    margin: 0 auto;
}

